<!DOCTYPE html>
<html>

<head>

<title>Student Profile</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>


<body>

<div class="container mt-5">

<h2 class="text-center">
Student Profile
</h2>


<div class="card p-4 mt-4">


<h4>Name : {{student[1]}}</h4>

<h5>Father Name : {{student[2]}}</h5>

<h5>Email : {{student[3]}}</h5>

<h5>Mobile : {{student[4]}}</h5>

<h5>DOB : {{student[5]}}</h5>

<h5>Course : {{student[6]}}</h5>

<h5>Address : {{student[7]}}</h5>


</div>


<a href="/dashboard" class="btn btn-secondary mt-3">
Back
</a>


</div>

</body>

</html>